/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.log
*.meta

# Unity (nested projects fix)
**/[Ll]ibrary/
**/[Tt]emp/
**/[Ll]ogs/
**/[Bb]uild/
**/[Bb]uilds/
**/[Uu]ser[Ss]ettings/
**/[Rr]ecordings/